/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */

body
{
    width: 100vw;
    height: 100vh;
    
}

.contenedor
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas:
    ". a ."
    "i c d"
    ". b ."
    
    ;

    width: 100%;
    height: 100%;

    justify-items: center;
    align-items: center;

}

.contactar
{
    grid-area: c;
    font-size: 3rem;
    


}


.redondo
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.redondo1
{
    grid-area: a;
    background-color: black;
    align-self: flex-start;

}

.redondo2
{
    grid-area: i;
    background-color: black;
    justify-self: flex-start;
    
}


.redondo3
{
    grid-area: d;
    background-color: black;
    justify-self: flex-end;
    
}

.redondo4
{
    grid-area: b;
    background-color: black;
    align-self: flex-end;
}


.redondo1:hover
{
    background-color: blue;
}



.redondo2:hover
{
    background-color: rgb(172, 12, 12);
}


.redondo3:hover
{
    background-color: rgb(29, 114, 25);
}

.redondo4:hover
{
    background-color: rgb(225, 212, 38);
}

